:root{
  --color-primary: #3498DB;
  --color-primary-focus: #2471A3; 
}

.title-app{
  font-family: Lato, 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  font-size: 30px;
}

.title-gif-text{
  color: var(--color-primary);
  font-weight: 600;
}


input{
  border: none;
  border-bottom:  2px solid var(--color-primary);
  box-shadow: 1px 1px 5px #ccc;
  color: #616A6B;
  font-family: Lato, 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  font-size: 1.2rem;
  outline: none;
  width: 100%;
}

input:focus{
  border-bottom:  2px solid var(--color-primary-focus);
}

.hint-text{
  color: var(--color-primary);
  font-family: Lato, 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  font-size: 1rem;
  font-weight: 600;
}

.card-gif{
  border: none;
  box-shadow: 1px 1px 5px #ccc;
  margin: 10px 0;
  cursor: pointer;
}

.card-gif:hover{
  border: none;
  box-shadow: 1px 1px 5px var(--color-primary);
  margin: 10px 0;
}

.img-gif{
  height: 300px;
  object-fit: cover;
  border-bottom: 5px solid var(--color-primary-focus);
}

.name-gif{
  color: var(--color-primary);
  font-size: 1.3rem;
  margin-bottom: 0px;
}

.category-name{
  border-bottom: 10px solid var(--color-primary-focus);
  color: var(--color-primary);
  font-family: Lato, 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  font-weight: 600;
  font-size: 24px;
  margin-bottom: 0px;
  margin-top: 1rem;
  text-align: center;
}

/* Spinner */

.trinity-rings-spinner, .trinity-rings-spinner * {
  box-sizing: border-box;
}

.trinity-rings-spinner {
  height: 120px;
  width: 120px;
  padding: 3px;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  overflow: hidden;
  box-sizing: border-box;
}
.trinity-rings-spinner .circle {
  position:absolute;
  display:block;
  border-radius:50%;
  border: 3px solid var(--color-primary);
  opacity: 1;
}

.trinity-rings-spinner .circle:nth-child(1) {
  height: 60px;
  width: 60px;
  animation : trinity-rings-spinner-circle1-animation 1.5s infinite linear;
  border-width: 3px;
}
.trinity-rings-spinner .circle:nth-child(2) {
  height: calc(60px * 0.65);
  width: calc(60px * 0.65);
  animation : trinity-rings-spinner-circle2-animation 1.5s infinite linear;
  border-width: 2px;
}
.trinity-rings-spinner .circle:nth-child(3) {
  height: calc(60px * 0.1);
  width: calc(60px * 0.1);
  animation:trinity-rings-spinner-circle3-animation 1.5s infinite linear;
  border-width: 1px;
}

@keyframes trinity-rings-spinner-circle1-animation{
  0% {
    transform: rotateZ(20deg) rotateY(0deg);
  }
  100% {
    transform: rotateZ(100deg) rotateY(360deg);
  }
}
@keyframes trinity-rings-spinner-circle2-animation{
  0% {
    transform: rotateZ(100deg) rotateX(0deg);
  }
  100% {
    transform: rotateZ(0deg) rotateX(360deg);
  }
}
@keyframes trinity-rings-spinner-circle3-animation{
  0% {
    transform: rotateZ(100deg) rotateX(-360deg);
  }
  100% {
    transform: rotateZ(-360deg) rotateX(360deg);
  }
}